<div class="row">
    <div *ngIf= "hayUsuario" class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <div class="table-responsive">

            <table class= "table table-hover">

              <tbody>
                <tr *ngFor= "let usuario of usuarios" [routerLink]= "['/usuarios']" class= "pointer">
                    <td class="w70">
                      <img [src]="usuario.imagen | imagen" 
                      class="img-50 img-circle">
                    </td>
                  <td>{{usuario.nombre}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    </div>

 
</div>