<!-- ============================================================== -->
<!-- Start Page Content 
class="align-self-center"
style="background-image:url
 class="profiletimeline"
-->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">

  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
  <!--    class="card-img" -->
      <img
        src= "../assets/images/background/socialbg.jpg"
        alt="Card image"/>

      <div class=" card-img-overlay card-inverse social-profile d-flex " style= "background-color: rgb(238, 62, 62)">
        <div>
          <img 
            [src]="usuario.imagen | imagen"
            class="img-circle"
            width="100"/>
          <br>
          <br>
          <h4 class="card-title">{{ usuario.nombre }}</h4>
          <h6 class="card-subtitle text-white">{{ usuario.email }}</h6>
          <p class="text-white">
            podras actualizar el perfil del usuario y ver los
            dispositivos asociados
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">

        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#dispo"
            role="tab"
            >Dispositivos asociados</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#perfil" role="tab"
            >Perfil</a>
        </li>
<!--   
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#seguridad" role="tab"
            >Seguridad</a>
        </li>
 -->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!--dispositivos asociados-->
        <div class="tab-pane active" id="dispo" role="tabpanel">
          <div *ngFor= "let dispositivo of dispositivos">
            <div  class="card-body">
            <div>
              <div class="sl-item">

                <div class="sl-right">

                  <div>
                    <p> <strong>Nombre: </strong> {{dispositivo.nombre}}</p>
                    <p> <strong>tipo: </strong>  {{dispositivo.tipo}}</p>
                    <div class="m-t-20 row">
                      <div class="col-md-3 col-xs-12">
                        <img
                          [src]= "dispositivo.imagen | imagen: 'dispositivo'"
                          alt="user"
                          class="img-circle"
                          width="100"/>
                        
                      </div>
                      <div class="col-md-9 col-xs-12">
                        <p>
                         <strong>descripcion: </strong>  {{dispositivo.descripcion}}
                        </p>
                     
                      </div>
                    </div>
                  </div>

                </div>

              </div>

                <small class="text-muted p-t-30 db">Coordenadas de instalacion</small>
                <h6>latitud: {{dispositivo.lat}} / longitud: {{dispositivo.lng}}</h6>
                <br>
                <div class="map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" 
                    width="50%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div> 
                <br>
                <a href="#" class="btn btn-success">
                    Desafectar dispositivo</a>

              <hr/>
            </div>

            </div>
        </div>

        </div>
      






        <!--perfil del usuario-->
        <div class="tab-pane" id="perfil" role="tabpanel">
          <div class="card-body">
            <form #f= "ngForm" ngNativeValidate (ngSubmit) = "guardarUsuario(f)" class="form-horizontal form-material">
                <br>
                <div class="form-group">
                <label class="col-md-12">Nombre del usuario</label>
                <div class="col-md-12">
                  <input
                    [(ngModel)]= "usuario.nombre"
                    name= "nombre"
                    type="text"
                    placeholder="ingrese nombre del usuario"
                    class="form-control form-control-line"
                    required/>
                </div>
                </div>
                <br>

                <div class="form-group">
                <label class="col-md-12">Correo del usuario</label>
                <div class="col-md-12">
                  <input
                    [(ngModel)]= "usuario.email" 
                    name= "email" 
                    type="email"
                    placeholder="ingrese el correo del usuario"
                    class="form-control form-control-line"
                    required/>
                </div>
                </div>
                <br>

                <div class="form-group">
                <label class="col-sm-12">Rol</label>
                <div class="col-sm-12">
                  <select 
                  class="form-control form-control-line"
                  [(ngModel)] = usuario.role 
                    name="role">
                    <option>consumer</option>
                    <option>resellers</option>
                    <option>iot</option>
                    <option>empleado</option>
                    <option>admin</option>
                  </select>
                </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="col-sm-12">Estado</label>
                    <div class="col-sm-12">
                    <select 
                    class="form-control form-control-line"
                    [(ngModel)] = usuario.estado 
                    name="estado">
                    <option>activo</option>
                    <option>suspendido</option>
          
                    </select>
                </div>
                </div>
                <br>

              <div class="form-group">
                <div class="col-sm-12">

                  <button type= "submit" class="btn btn-success">Actualizar Perfil</button>
                  &nbsp;
                  <a routerLink= "/usuarios" class="btn btn-red waves-effect waves-light">
                    Cancelar
                  </a>


                </div>
              </div>
              <br>

            </form>
          </div>
        </div>



        <!--seguridad del usuario lo dejamos sin efecto , pero lo dejamos com ejemplo para otro tab -->
<!--



        <div class="tab-pane" id="seguridad" role="tabpanel">
          <div class="card-body">
            <form class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-12">Contraseña</label>
                <div class="col-md-12">
                  <input
                    type="text"
                    value="password1"
                    class="form-control form-control-line"
                  />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">de nuevo</label>
                <div class="col-md-12">
                  <input
                    type="text"
                    value="password2"
                    class="form-control form-control-line"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
-->

      </div>

    </div>
  </div>

</div>
